
h1{
    position:absolute;    
    top: 30%;
  left: 50%;
}
.submit{
  position:absolute;
  top: 60%;
  left: 74%;
}
.input{
    position: absolute;
    top: 60%;
  left: 40%;
}
.background{
    width: 60%;
    height: 100vh;
}
body{
    margin: 0;
    overflow: hidden;
    
}